.row{width: 80%; margin: 0 auto;}

h1{font-size: 2rem;}
h2{font-size: 1.3rem;}
h3{font-size: 1.1rem;}

.ab_bg{width: 100%; height: 100%; min-height: 100%;}

.navbar{background-color: rgba(0,0,0,0.1) !important;}
.moves{background-color:rgba(0,0,0,0.9) !important; color:#fff; padding:0.5rem 0 0.5rem; z-index: 11111111;}

.ab_slide_wrap {width:100%; height: 55rem; position:relative; margin:0 auto;overflow:hidden;}
.slides {width:100%; position:relative;}
.slide:nth-child(1) > img{transform: translateY(-5rem);}
.slide:nth-child(2) > img{transform: translateY(-5rem);}
.slide:nth-child(3) > img{transform: translateY(-20rem);}

.ab_tit_box{position: relative; height: 100%;}
.ab_tit{position: absolute; top:23rem; left: 0; z-index: 11111;}
.ab_tit h2{color:#fff; font-size: 8rem;}
.ab_tit h4{color:#fff; font-size: 2rem;}

.pager_wrap {width:100%; position:absolute; bottom:20px; font-size:0.75em; z-index:111; border:0;}

.w3-padding {background-color: transparent;}
.poger_in{color: #fff;}
.poger_out{color: #111;}

#ab_slides .slide {width:100%; position:absolute; left:0; top:0;}

.ab_banner01{margin-top: 5rem;}
.banner01_box>li{height: 450px;}
.banner01_box>li>div{height: 38rem; padding: 1.8rem; border: 2px solid #ccc; box-sizing: border-box; }
.banner01_box>li>div>hr{width: 3rem; padding: 1px; background-color: #000040;}
.edu_box > div, .exp_box > div, .pro_box > div{padding-bottom: 1rem;}
.exp > span{text-align: center;}



.ab_section02{background-image: url("../img/aboutme/startup-593329_192023.jpg");
background-size: cover; background-repeat: no-repeat; background-position-y: -10rem;
background-attachment:fixed; margin-top:10rem;}
.section02_box{padding-bottom: 3rem;}
.skills_txt{width: 100%;}
.skills_txt li{width: 23%; height: 20rem; float: left; font-size: 2rem; color: #fff; text-align: center;  display: table;
    margin-right: 2%; position: relative; background-color: rgba(255,255,255,0.2);}
.ri-ma{margin-right: 0;}
.bo-ma{margin-bottom: 2%; display: table;}
.skills_txt li span{display: table-cell; vertical-align: middle;}

.skills_txt> li:nth-child(1)>span{display: table-cell; line-height: 2.5rem; vertical-align: middle;}

.skill_1 > .skill_2{height: 20rem;  background-color: rgba(0,0,0,0.8);  position: absolute; 
    top: 0; left: 0; width: 100%; display:none;}
.skill_2 p{font-size: 1.2rem; color: #fff;}

.skill_2 {animation-duration:0.5s; animation-fill-mode:forwards;}

.cont_me, .ab_me, .skill_me{padding: 5rem 0 2rem; font-size: 3rem;}
.skill_me{color: #fff;}
.skill_me >p {width: 20%; border:1px solid #fff; margin: 0 auto;}
.cont_me > p ,.ab_me > p{width: 20%; border:1px solid #111; margin: 0 auto;}

.me_bg{width: 100%; background-color:#1b9891; padding: 3rem 0; overflow: hidden; margin-top: 10rem;}
.myimg, .mytext_box{ width: 50%; float: left;}
.mytext_box{height:313.33px; display: table; background-color: rgba(255,255,255,0.5);}
.mytext{box-sizing: border-box; padding: 2rem; display: table-cell; vertical-align: middle;}
.mytext > p{font-size: 1.25rem;}
.mytext > p >span{font-weight: bold;}
.myimg > img {max-width: 100%; scale: 2;}

.ab_banner02{width: 100%;  margin: 5rem 0;}
.map, .contect{height: 500px; box-sizing: border-box; padding:0 5rem;}
.contect input{margin-top: 2rem;}
.contect input.name{margin-top: 2rem;}
.contect input.memo{height: 12rem;}
.contect button{margin: 3rem 1rem; float: right; width: 7rem;}
