.row{width: 1000px; margin: 0 auto;}
.main_bg{height: 100%;
	background-image: url(../img/main/lighthouse-2225445.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;}
.bg_inner{width: 100%; height: 100%; position: relative;}

.main_row{position: relative;}
.main_top{margin-top: 4rem;}
.logo_img{max-width: 45%;}
.logo,.top_tit,.toggle_box{padding:0}
.top_tit{color: #fff; font-size: 4rem; text-align: center;}
.ad_title{font-size: 2rem;}
.toggle_box{ position: relative; float: right;}
.nav_toggle{font-size: 1.8rem; color:#fff;}
.fa-bars{border: 1px solid #fff; padding: 1.3rem; right:0rem; position: absolute; z-index: 11111;}
.fa-times{border: 1px solid #fff; padding: 1.3rem; color: #fff; font-size: 1.8rem;position: absolute; z-index: 11111;}
.weather_icon{max-width: 55px; position: absolute; right: 6rem; z-index: 11111;}
.weather_img{max-width: 55px;}
.fa-bars, .fa-times,.weather_img {cursor: pointer;}


.title{position: absolute; top:23rem; left:0; cursor: pointer;}
.title > h2{font-size: 6.5rem; color:#fff;}
.title > h3{font-size: 4rem; color:#fff;}
.title > h4{font-size: 2rem; color:#fff;}

.nav_box, .weather_box{height: 62rem;}

.nav_box{width: 100%;  top:-4rem; left: 0;  background-color: rgba(0,0,0,0.9);position: absolute;
	padding-left: 8rem; box-sizing: border-box; z-index: 1111; display: none;}
	
	.menu{margin: 10rem 0 4rem;}
	.menu li{font-size:2.5rem; line-height: 5rem; color: #fff;}
	.menu li .fa{font-size: 1rem; padding-right: 3rem;}
	
	.info{padding-bottom: 2rem;}
	.info li{font-size:1.5rem; line-height: 3rem; color: #fff;}
	
	.sns_icon >li{float: left; width: 15%; font-size:3rem; color: #fff;}
	.sns_icon >li:nth-child(2){margin: 0 5%;}
	
	/* 날씨 */
	.weather_box{width: 100%; top:-4rem; left: 0; background-color: rgba(0,0,0,0.9);position: absolute; padding-left:1rem; box-sizing: border-box; margin: 0 auto; text-align: center; display: none; z-index: 1111;}
	
	.daily{width:100%; height:50%; padding:2%; text-align:center; margin: 0 auto;}
	.daily{position: absolute; top: 0; right:1.2rem;}
	.daily > div {text-align:center; }
	#area{font-size: 2rem;}
	
	.dl_icon {width:30%; max-width:220px; margin-top: 7rem;}
	.dl_area {font-size:2rem; color:rgb(0, 78, 196); font-weight:bold; margin-top:2rem; margin: 0 auto; padding: 1rem 0;}
	.dl_date {font-size:1.5rem; color:#ccc; padding-top: 1rem;}
	.dl_temp {font-size:1.2rem; color:#fff;}
	.dl_desc {font-size:1.5rem; color:#fff;}
	
	.weekly{height:330px; overflow:auto; width:80%; text-align:center; float: right; margin-top: 3rem;}
	.weekly ul {float:left; width:60%; padding-left:10%;} 
	.wk_icon {float:left; width:20%;}
	.wk_area {font-size:1.25rem; color:#fff; font-weight:bold; }
	.wk_date {font-size:1.25rem; color:rgb(177, 177, 177); }
	.wk_temp {font-size:1.5rem; color:#fff;}
	.wk_desc {font-size:1.25rem; color:rgb(177, 177, 177);}
	.w3-input{padding: 0; background-color: transparent; color: #fff;
	border: none;}
	.selects > select{width: 20%; margin: 0 auto;}
	
	
	.foot_bg{width: 100%; height: 150px; background-color: rgba(0,0,0,1);}
	.footer{color:#ccc; font-size: 0.8rem; text-align: center; line-height: 150px;}

	#modal_bg {position:absolute; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); display:none; top:0; left:0;}
	#modal_wrap {position:absolute; width:100%; height:100%; display:none; top:0; left:0;}
	#modal_wrap > div {display:table-cell; text-align:center; vertical-align:middle;}
	#modal_content {width:300px; height:200px; background:#f90; text-align:center; line-height:200px; border:1px solid #999; margin:0 auto; position:relative;}
	#modal_btn {padding:6px; position:absolute; right:0; bottom:0;}

	/***********모달창************/
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 11111; /* Sit on top */
	left: 0;
	top: -100px;
	width: 100%; /* Full width */
	height: 111%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	overflow: hidden;
	z-index: 1111111;
}
/* Modal Content/Box */
.modal-content {
	background-color: #fff;
	margin: 25% auto; /* 15% from the top and centered */
	padding: 20px;
	width: 478px; /* Could be more or less, depending on screen size */        
	height: 200px;
	position: relative;                  
}
/* The Close Button */
.close {
	color: #fff;
	float: right;
	font-size: 28px;
	font-weight: 100;
	position: absolute;
	bottom: 25px;
	left: 35px;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* @media screen and (max-width: 1280px) {}
@media screen and (max-width: 789px) {}
@media screen and (max-width: 480px) {} */

@media screen and (max-width: 1024px) {
	.row{width: 100%;}
	.main_bg{height: 100%;
			background-position-y: 0;}
	.main_row{width: 80%; margin: 0 auto;}
	.main_top{margin-top: 3rem;}
	.logo_img{max-width: 50%; min-width: 64px;}

	.nav_toggle{font-size: 1.3rem;}
	.fa-bars{padding: 1rem;}
	.fa-times{padding: 1rem; font-size: 1.3rem;}
	.weather_icon{max-width: 41px; right: 4.5rem;}
	.weather_img{max-width: 41px;}
	
	.nav_box, .weather_box{height: 60rem;}

	.nav_box{width: 100%; top:-4rem; left: 0rem; padding-left: 3rem;}
	
	.menu{margin: 8rem 0 3rem;}
	.menu li{font-size:2rem; line-height: 4.5rem;}
	.menu li .fa{font-size: 1rem; padding-right: 1.5rem;}
	.info{padding-bottom: 2rem;}
	.info li{font-size:1.2rem; line-height: 2.8rem;}
	.sns_icon >li{font-size:2.5rem;}

	.weather_box{width: 100%; top:-4rem; left: 12rem;}
	#area{font-size: 1.5rem;}
	.dl_icon {width:25%; max-width:200px; margin-top: 7rem;}
	.dl_area {font-size:1.3rem;}
	.dl_date {font-size:1.1rem; }
	.dl_temp {font-size:1rem;}
	.dl_desc {font-size:1.3rem;}
	.weekly{height:260px; }
	.weekly ul {padding-left:3%;} 
	.wk_area {font-size:1.1rem; }
	.wk_date {font-size:0.9rem; }
	.wk_temp {font-size:1.1rem; }
	.wk_desc {display: none;}
	.selects > select{width: 20%; margin: 0 auto;}

	.title{position: absolute; top:25rem; left:0; cursor: pointer;}
	.title > h2{font-size: 5.5rem; color:#fff;}
	.title > h3{font-size: 3rem; color:#fff;}
	.title > h4{font-size: 1.5rem; color:#fff;}
	
}

@media screen and (max-width:780px) {
	.row{width: 80%;}
	.main_bg{height: 100%;
			background-position-y: 0;}
	.main_row{width: 80%; margin: 0 auto;}
	.main_top{margin-top: 3rem;}
	.logo_img{max-width: 20%; min-width: 64px;}

	
	.weather_icon{max-width: 41px; right: 4.5rem; display: none;}
	
	.nav_box, .weather_box{height: 60rem;}

	.nav_box{width: 200%; top:-4rem; left: 0; padding-left: 3rem;}
	
	.menu{margin: 8rem 0 3rem;}
	.menu li{font-size:1.7rem; line-height: 4rem;}
	.menu li .fa{font-size: 1rem; padding-right: 1.5rem;}
	.info{padding-bottom: 2rem;}
	.info li{font-size:1.2rem; line-height: 2.8rem;}
	.sns_icon >li{font-size:2.5rem;}

	.weather_box{width: 200%; top:-4rem; left: 0;}
	#area{font-size: 1.5rem;}

	.title{position: absolute; top:25rem; left:0; cursor: pointer;}
	.title > h2{font-size: 5.5rem; color:#fff;}
	.title > h3{font-size: 3rem; color:#fff;}
	.title > h4{font-size: 1.5rem; color:#fff;}
	
}


@media screen and (max-width:480px) {
	.row{width: 80%;}
	.main_bg{height: 100%;
			background-position-y: 0;}
	.main_row{width: 80%; margin: 0 auto;}
	.main_top{margin-top: 3rem;}
	.logo_img{max-width: 20%; min-width: 64px;}

	.weather_icon{max-width: 41px; right: 4.5rem; display: none;}
	
	.nav_box, .weather_box{height: 60rem;}

	.nav_box{width: 200%; top:-4rem; left: 0; padding-left: 2rem;}
	
	.menu{margin: 8rem 0 3rem;}
	.menu li{font-size:1.7rem; line-height: 4rem;}
	.menu li .fa{font-size: 1rem; padding-right: 1.5rem;}
	.info{padding-bottom: 2rem;}
	.info li{font-size:1.2rem; line-height: 2.8rem;}
	.sns_icon >li{font-size:2.5rem;}

	.title{position: absolute; top:25rem; left:0; cursor: pointer;}
	.title > h2{font-size: 5.5rem; color:#fff;}
	.title > h3{font-size: 3rem; color:#fff;}
	.title > h4{font-size: 1.5rem; color:#fff;}
	
}
