.row{width: 1000px; margin: 0 auto;}
.main_bg{height: 100%;
	background-image: url(../img/main/lighthouse-2225445.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;}
.bg_inner{width: 100%; height: 100%; }
.main_row{height: 100%; position: relative;}
/*nav*/
.logo img{padding-top:0.8rem; max-width: 45%;}
.header{position:fixed; top:0; z-index:99999999; width:100%;}
.navbar{background-color: rgba(0,0,0,1); padding:1.5rem 0 0.5rem;margin-bottom:0;position: fixed;z-index:9999; border-radius:0;}
.main_nav{background-color: transparent !important; width: 83.33333333333333rem !important;}
.navi{width: 100%;}
.navi .rows{margin-left:0; margin-right:0;}

.navbar-header {display:none;}
#navi {display:block;}


.dropdown-menu{-webkit-box-shadow:none;box-shadow:none; padding: 0; background-color: transparent;}
.navi .nav, .navi .collapse, .navi .dropdown{position:static;}
.navi .container{position:relative;}
.container{width: 100%;}
.navi .dropdown-menu{left:auto;}
.nav a{color:#fff; font-size: 1.2rem;}
.nav li a:hover{color:#f90; font-size: 1.4rem; background-color: transparent !important;}
.open>a, .nav .open>a:focus, .nav .open>a:hover{background-color: transparent;}


.title{position: absolute; top:23rem; left:0; cursor: pointer;}
.title > h2{font-size: 6.5rem; color:#fff;}
.title > h3{font-size: 4rem; color:#fff;}
.title > h4{font-size: 2rem; color:#fff;}

	
	/* 날씨 */
	.weather_box{width: 400px; height: 600px; background-color: rgba(0,0,0,0.9);padding:1rem; box-sizing: border-box; 
		margin: 0 auto; text-align: center;}
	
	.daily{width:100%; height:50%; padding:2%; text-align:center; margin: 0 auto;}
	.daily > div {text-align:center; }
	#area{font-size: 2rem;}
	
	.dl_icon {width:30%; max-width:220px; margin-top: 1rem;}
	.dl_area {font-size:2rem; color:rgb(0, 78, 196); font-weight:bold; margin-top:2rem; margin: 0 auto; padding: 1rem 0;}
	.dl_date {font-size:1.5rem; color:#ccc; padding-top: 1rem;}
	.dl_temp {font-size:1.2rem; color:#fff;}
	.dl_desc {font-size:1.5rem; color:#fff;}
	
	.weekly{width: 90%; height:260px; overflow:auto; text-align:center; float: right; margin-top: 3rem;}
	.weekly ul {float:left; width:80%; } 
	.wk_icon {float:left; width:20%;}
	.wk_area {font-size:1.25rem; color:#fff; font-weight:bold; }
	.wk_date {font-size:1.25rem; color:rgb(177, 177, 177); }
	.wk_temp {font-size:1.5rem; color:#fff;}
	.wk_desc {font-size:1.25rem; color:rgb(177, 177, 177);}
	.w3-input{padding: 0; background-color: transparent; color: #fff;
	border: none;}
	.selects > select{width: 20%; margin: 0 auto;}
	
	
	.foot_bg{width: 100%; height: 150px; background-color: rgba(0,0,0,1);}
	.footer{color:#ccc; font-size: 0.8rem; text-align: center; line-height: 150px;}

	#modal_bg {position:absolute; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); display:none; top:0; left:0;}
	#modal_wrap {position:absolute; width:100%; height:100%; display:none; top:0; left:0;}
	#modal_wrap > div {display:table-cell; text-align:center; vertical-align:middle;}
	#modal_content {width:300px; height:200px; background:#f90; text-align:center; line-height:200px; border:1px solid #999; margin:0 auto; position:relative;}
	#modal_btn {padding:6px; position:absolute; right:0; bottom:0;}

	/***********모달창************/
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 11111; /* Sit on top */
	left: 0;
	top: -100px;
	width: 100%; /* Full width */
	height: 111%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	overflow: hidden;
	z-index: 1111111;
}
/* Modal Content/Box */
.modal-content {
	background-color: #fff;
	margin: 25% auto; /* 15% from the top and centered */
	padding: 20px;
	width: 478px; /* Could be more or less, depending on screen size */        
	height: 200px;
	position: relative;                  
}
/* The Close Button */
.close {
	color: #fff;
	float: right;
	font-size: 28px;
	font-weight: 100;
	position: absolute;
	bottom: 25px;
	left: 35px;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* @media screen and (max-width: 1280px) {}
@media screen and (max-width: 789px) {}
@media screen and (max-width: 480px) {} */

@media screen and (max-width: 1024px) {
	.row{width: 100%;}
	.main_bg{height: 100%;
			background-position-y: 0;}
	.main_row{width: 80%; margin: 0 auto;}
	

	.weather_box{width: 400px; height: 600px;}
	#area{font-size: 1.5rem;}
	.dl_icon {width:25%; max-width:200px; margin-top: 1rem;}
	.dl_area {font-size:1.3rem;}
	.dl_date {font-size:1.1rem; }
	.dl_temp {font-size:1rem;}
	.dl_desc {font-size:1.3rem;}
	.weekly{height:260px; }
	.weekly ul {padding-left:3%;} 
	.wk_area {font-size:1.1rem; }
	.wk_date {font-size:0.9rem; }
	.wk_temp {font-size:1.1rem; }
	.wk_desc {display: none;}
	.selects > select{width: 20%; margin: 0 auto;} */

	.title{position: absolute; top:25rem; left:0; cursor: pointer;}
	.title > h2{font-size: 5.5rem; color:#fff;}
	.title > h3{font-size: 3rem; color:#fff;}
	.title > h4{font-size: 1.5rem; color:#fff;}
	
}

@media screen and (max-width:768px) {
	.navbar-header {display:block;}
	#navi {display:none;}
	.row{width: 80%;}
	.main_bg{height: 100%;
			background-position-y: 0;}
	.main_row{width: 80%; margin: 0 auto;}

	.container{
		padding-right:15px;
		padding-left:15px;
		margin-right: auto;
		margin-left: auto;
	}
	.navbar-collapse {
		padding-right:15px;
		padding-left: 15px;
	}
	.logo img{padding-left:1rem; max-width: 70px;}
	.navbar-toggle{display: block; z-index: 111111;}
	.navi.navbar-toggle:focus, .navi.navbar-toggle:hover {
		background-color:transparent;
	}
	.navbar-toggle {margin-top:10px;}
	.navbar-toggle .icon-bar {width:30px; height: 3px;}
	.navi.navbar-toggle {border-color:transparent;}
	#navi{margin-top:12px;}
	.navbar-nav {margin: 0px -15px;}
	
	.weather_box{width: 400px; height: 600px;}
	#area{font-size: 1.5rem;}

	.title{position: absolute; top:25rem; left:0; cursor: pointer;}
	.title > h2{font-size: 5.5rem; color:#fff;}
	.title > h3{font-size: 3rem; color:#fff;}
	.title > h4{font-size: 1.5rem; color:#fff;}
	
}


@media screen and (max-width:480px) {
	.row{width: 80%;}
	.main_bg{height: 100%;
			background-position-y: 0;}
	.main_row{width: 80%; margin: 0 auto;}
	.logo img{padding-left:1rem; max-width: 70px;}
	
	
	.title{position: absolute; top:25rem; left:0; cursor: pointer;}
	.title > h2{font-size: 5.5rem; color:#fff;}
	.title > h3{font-size: 3rem; color:#fff;}
	.title > h4{font-size: 1.5rem; color:#fff;}
	
}
