.row{width: 80%; margin: 0 auto;}

h3{font-size: 2rem;}
h2{font-size: 4rem;}
p{font-size: 1.2rem;}
html, body{height: 100%;}
.po_bg{ width: 100%; height: 100%; min-height: 100%;}

#port_wrap{width: 100%;}


.site_bg{width: 100%; height: 78.75rem;background-image: url("../img/2018100814062400000012816.jpg");
background-size: cover; background-repeat: no-repeat;}
.site_bg:nth-child(2){background-image: url("../img/milk/bg/4MLC0036.jpg");}
.site_bg:nth-child(3){background-image: url("../img/vent1.jpg");}
.site_bg:nth-child(4){background-image: url("../img/test22.jpg");}

.site_box{height: 100%; position: relative;}
.site_img{width: 60%; max-width: 700px; position: absolute; top: 20%; left:10%;}
.site_txt{width: 70%; max-width: 500px; position: absolute; top:40%; left: 53%; background-color: rgba(0,0,0,0.5); color: #fff; padding:2rem 0 2rem 8rem; }
.site_txt > li > hr{width: 4rem;}

.go_site{width: 10%; position: absolute; top:70%; left: 28%; text-align: center; color:#fff; font-size: 2rem; border: 2px solid #fff;}

/* 등장 애니메이션 */
.ani_img0 {animation-name:ani_img0; animation-duration:1.5s; animation-fill-mode:forwards;}
.ani_txt0 {animation-name:ani_txt0; animation-duration:1.5s; animation-fill-mode:forwards; animation-timing-function:ease-out;}
.ani_go_site0 {animation-name:ani_go_site0; animation-duration:1.5s; animation-fill-mode:forwards;}
@keyframes ani_img0 {
	0% {opacity:0; transform:translateX(-50%);}
	100% {opacity:1; transform:translateX(0);}
	/* 0% {opacity:0; transform:translateY(-50%);}
	100% {opacity:1; transform:translateY(0);} */
}
@keyframes ani_txt0 {
	0% {opacity: 0; left:63%;}
	100% {opacity: 1; left: 53%;}
}
@keyframes ani_go_site0 {
	0% {opacity:0; transform:translateX(-30%);}
	100% {opacity:1; transform:translateX(0);}
}

.ani_img1 {animation-name:ani_img1; animation-duration:1.5s; animation-fill-mode:forwards;}
.ani_txt1 {animation-name:ani_txt1; animation-duration:1.5s; animation-fill-mode:forwards; animation-timing-function:ease-out;}
.ani_go_site1 {animation-name:ani_go_site1; animation-duration:1.5s; animation-fill-mode:forwards;}
@keyframes ani_img1 {
	0% {opacity:0; transform:translateX(-30%);}
	100% {opacity:1; transform:translateX(0);}
}
@keyframes ani_txt1 {
	0% {opacity: 0; left: 63%;}
	100% {opacity: 1; left: 53%;}
}
@keyframes ani_go_site1 {
	0% {opacity:0; transform:translateY(-30%);}
	100% {opacity:1; transform:translateY(0);}
}

.ani_img2 {animation-name:ani_img2; animation-duration:1.5s; animation-fill-mode:forwards;}
.ani_txt2 {animation-name:ani_txt2; animation-duration:1.5s; animation-fill-mode:forwards; animation-timing-function:ease-out;}
.ani_go_site2 {animation-name:ani_go_site2; animation-duration:1.5s; animation-fill-mode:forwards;}
@keyframes ani_img2 {
	0% {opacity:0; transform:translateY(30%);}
	100% {opacity:1; transform:translateY(0);}
}
@keyframes ani_txt2 {
	0% {opacity: 0; left: 43%;}
	100% {opacity: 1; left: 53%;}
}
@keyframes ani_go_site2 {
	0% {opacity:0; transform:translateX(30%);}
	100% {opacity:1; transform:translateX(0);}
}

.ani_img3 {animation-name:ani_img3; animation-duration:1.5s; animation-fill-mode:forwards;}
.ani_txt3 {animation-name:ani_txt3; animation-duration:1.5s; animation-fill-mode:forwards; animation-timing-function:ease-out;}
.ani_go_site3 {animation-name:ani_go_site3; animation-duration:1.5s; animation-fill-mode:forwards;}
@keyframes ani_img3 {
	0% {opacity:0; transform:translateY(30%);}
	100% {opacity:1; transform:translateY(0);}
}
@keyframes ani_txt3 {
	0% {opacity: 0; left: 63%;}
	100% {opacity: 1; left: 53%;}
}
@keyframes ani_go_site3 {
	0% {opacity:0; transform:translateX(-30%);}
	100% {opacity:1; transform:translateX(0);}
}

.ani_img4 {animation-name:ani_img4; animation-duration:1.5s; animation-fill-mode:forwards;}
.ani_txt4 {animation-name:ani_txt4; animation-duration:1.5s; animation-fill-mode:forwards; animation-timing-function:ease-out;}
.ani_go_site4 {animation-name:ani_go_site4; animation-duration:1.5s; animation-fill-mode:forwards;}
@keyframes ani_img4 {
	0% {opacity:0; transform:translateX(-30%);}
	100% {opacity:1; transform:translateX(0);}
}
@keyframes ani_txt4 {
	0% {opacity: 0; left: 43%;}
	100% {opacity: 1; left: 53%;}
}
@keyframes ani_go_site4 {
	0% {opacity:0; transform:translateY(30%);}
	100% {opacity:1; transform:translateY(0);}
}

/* img 스케일 애니메이션  */
.site_img > img {animation-duration:0.5s; animation-fill-mode:forwards;}
@keyframes siteAni {
	0% {transform: scale(1);}
	100% {transform: scale(1.05);}
}
@keyframes siteAniBack {
	0% {transform: scale(1.05);}
	100% {transform: scale(1);}
}

.foot_bg{width: 100%; height: 150px; background-color: rgba(0,0,0,1);}
.footer{color:#ccc; font-size: 0.8rem; text-align: center; line-height: 150px;}

@media screen and (min-width: 1025px) {
	.site_img{width: 60%; max-width: 600px; position: absolute; top: 20%; left:10%;}
	.site_txt{width: 70%; max-width: 500px; position: absolute; top:33%; left: 53%; padding:2rem 4rem}
	.site_txt h2{font-size: 3rem;}
	.site_txt > li > hr{width: 4rem;}
	
	.go_site{width:15%; position: absolute; top:65%; left: 28%; font-size:1.5rem; }
}

@media screen and (max-width:768px) {
	.row{width: 80%;}
	.site_bg{height: 60rem;background-size: cover; background-repeat: no-repeat; background-position: center center;}
	.site_bg:nth-child(3){background-position-x:80%;}
	.site_box{padding-top: 10rem;}
	.site_img{width: 100%; max-width: 100%; position: static; margin-bottom: 2rem;}
	.site_txt{width: 100%; max-width: 100%; position: static; padding:1rem; }
	.go_site{display: none;}
	h3{font-size: 1.5rem;}
	h2{font-size: 2rem;}
	p{font-size: 1rem;}
}

